body {
    background: url('https://mostaql.hsoubcdn.com/uploads/thumbnails/1451907/62c9fd9f07ed6/main-backdrop.jpeg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.card {
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
    border-radius: 8px;
}

.text-white {
    color: #ffffff !important;
}
input{
    background-color: rgba(0, 0, 0, 0.6) !important;
    border-color: #2f2f2f !important;
    padding: 20px !important;
}
